html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

main {
    margin-bottom: 10px;
}

#titlebar {
    padding: 1rem;
    background-color: #20232a;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
#footer button {
    background: none;
    color: black;
}
#main-content {
    padding: 20px;
    max-width: 50%;
    margin: auto;
}

h1, h2 {
    margin: 0 0 1rem 0;
}

button {
    background-color: #20232a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px 0;
}

button:hover {
    background-color: #444950;
}

button.secondary {
    background-color: #888;
}
button.secondary:hover {
    background-color: #aaa;
}

button.primary {
    background-color: #0066cc;
}
button.deleter {
    background-color: #da3333;
}
button.primary:hover {
    background-color: #004999;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-top: 5px solid rgba(0,0,0,0.1);
}

#tables div {
    padding: 10px;
    margin-top: 10px;
    margin-top: 10px;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#add-test-score {
    display: none;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
section {
    margin-top: 10px;
    margin-bottom: 10px;
}

#tables table td:nth-child(2) { 
    text-align: end; 
}
#tables table td:nth-child(3) { 
    text-align: end; 
}
#tables table th:nth-child(2) { 
    text-align: end; 
}
#tables table th:nth-child(3) { 
    text-align: end; 
}
#tables table th:nth-child(1) { 
    width: 75%;
}
#tables table td:nth-child(1) { 
    width: 75%;
}